.ScoreFrame {
    background-color: grey;
    position: fixed;
    top: 0px;
    left: 940px;
    height: 600px;
    width: 250px;
    text-align: center;
    line-height: 100px;
    margin: 60px auto;
    background-color: transparent;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
};

