.Agent {
    background-color: grey;
	width: 7.5rem;
	height: 5rem;
	text-align: center;
	line-height: 100px;
	margin: 60px auto;
	background-color: #fff;
	border: 8px solid #666;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #888;
}

/* agent objects */
.A {
    position: absolute;
    left:67.5%;
    top:50%; 
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.B {
    position:absolute;
    left:56%;
    top:9%; 
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.B_2 {
    position:absolute;
    left:5%;
    top:9%; 
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.C {
    position: absolute;
    left:79%;
    top:9%; 
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.C_2 {
    position: absolute;
    left:50%;
    top:9%; 
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* agent name tags */
.A_name {
    position: absolute;
    left:67.5%;
    top:44%; 
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

.B_name {
    position: absolute;
    left:56%;
    top:3%; 
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

.B_2name {
    position: absolute;
    left:5%;
    top:2%; 
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

.C_name {
    position: absolute;
    left:79%;
    top:3%; 
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

.C_2name {
    position: absolute;
    left:50%;
    top:2%; 
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

/* frame above agents for instructions etc. */
.instr_frame {
    position:absolute;
    left:15%;
    top:-9%; 
    width: 350px;
    height: 20px;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

