@import '../../constants.scss';

.ExpNeighbourBeliefs {
    display: grid;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-areas: ". text .";
    margin-bottom: .5rem;
}

.InnerContainer {
    text-align: justify;
    grid-area: text;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: $shadow-THE-smallest;
    border-radius: .3rem;

    & h1 {
        text-align: center;
    }
    & p {
        position: relative;
        z-index: 10;
        line-height: 1.2;
    }    
    & hr {
        position: relative;
        z-index: 10;
    }
}


.CanvasContainer {
    border-top: 1px solid black;
    box-shadow: $shadow-intense;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    margin-bottom: 2rem;
}