@import '../../constants.scss';

.InsTask {
    display: grid;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-areas: ". text .";
    margin-bottom:  5rem;
}

.InsReminder {
    text-align: justify;
    grid-area: text;
    padding: 1rem;
    background-color: white;
}

.InnerContainer {
    text-align: justify;
    grid-area: text;
    padding: 1rem;
    background-color: white;
    margin-bottom: 0.5rem;

    & img {
        width: 50%;
        margin-bottom: 1rem;
        margin-left: 25%;
        margin-top: 2rem;

    }
}