.Agent {
    background-color: grey;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin: 60px auto;
	background-color: #fff;
	border: 8px solid #666;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #888;
}

/* agent objects */
.A {
    position: absolute;
    left:67.5%;
    top:50%; 
    width: 120px;
    height: 90px;
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.B {
    position:absolute;
    left:56%;
    top:9%; 
    width: 120px;
    height: 90px;
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.C {
    position: absolute;
    left:79%;
    top:9%; 
    width: 120px;
    height: 90px;
    background-color: lightgray;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* agent name tags */
.A_name {
    position: absolute;
    left:69.25%;
    top:45%; 
    width: 100px;
    height: 40px;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

.B_name {
    position: absolute;
    left:58%;
    top:4%; 
    width: 100px;
    height: 40px;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

.C_name {
    position: absolute;
    left:81.2%;
    top:4%; 
    width: 100px;
    height: 40px;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

/* frame above agents for instructions etc. */
.instr_frame {
    position:absolute;
    left:55%;
    top:-5%; 
    width: 350px;
    height: 20px;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

