@import '../../constants.scss';

.InsPosterior {
    display: grid;
    grid-template-columns: 1fr 45rem 1fr;
    grid-template-areas: ". text .";
    margin-bottom: .5rem;
}

.InnerContainer {
    text-align: justify;
    grid-area: text;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: $shadow-THE-smallest;
    border-radius: .3rem;
    & .SmallDescription {
        position: relative;
        z-index: 10;
        line-height: 1.2;
        margin-top: -5rem;
        border-top: 1px solid $color-grey-dark-1;
        border-bottom: 1px solid $color-grey-dark-1;
    }    
    & hr {
        position: relative;
        z-index: 10;
    }

}


.NeighboursContainer {
    display: grid;
    grid-template-columns: 1fr 1rem 1fr;
    margin-left: -3rem;

    .AliceContainerOuter {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        align-items: center;
        text-decoration: underline;
        
            & .CanvasContainer {
                display: grid;
                justify-items: center;
                margin-bottom: 2rem;
                z-index: 1;
                position: relative;
            }
            
            & .AliceContainer {
                display: grid;
                justify-items: flex-start;
                margin-bottom: 2rem;
                margin-left: -4rem;

            & h4 {
                margin-left: -2.5rem;
            }
        }
    }

    .SeperationImage {
        position: relative;
        z-index: 10;
        margin-left: -2.5rem;
    }
    
    .BobContainerOuter {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        align-items: center;
        text-decoration: underline;
        margin-left: -5rem;
        
        & .CanvasContainer {
        display: grid;
        justify-items: center;
        margin-bottom: 2rem;
        margin-left: -7rem;
        z-index: 1;
        position: relative;
    }

    & .BobContainer {
        display: grid;
        justify-items: center;
        margin-bottom: 2rem;
    }

}
}
    
    
    


.MainPlot {
    margin-top: -5rem;
    display: grid;
    grid-template-rows: repeat(6, min-content);
}