@import '../../constants.scss';

.InsPossibleScenario {
    display: grid;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-areas: ". text .";
    margin-bottom: .5rem;
}


.InnerContainer {
    text-align: justify;
    grid-area: text;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: $shadow-THE-smallest;
    border-radius: .3rem;

    & p {
        line-height: 1.2;
    }

    .ImageContainer {
        text-align: center;
        & img {
            width: 50%;
            margin-bottom: .2rem;
        }
    }
    
}