.Scores{
    background-color: grey;
	text-align: center;
	line-height: 100px;
	margin: 60px auto;
	background-color: #fff;
	border: 8px solid #666;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #888;
}

/* score objects */
.B1 {
    position: absolute;
  
    left:15%;
    top:11%; 
    width: 2rem;
	height: 2rem;
    background-color: red;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.C1 {
    position:absolute;
    left:69%;
    top:11%; 
    width: 2rem;
	height: 2rem;
    background-color: deepskyblue;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.B_name {
    position: absolute;
    left:-3%;
    top:2%;  
    width: 7.5rem;
	height: 5rem;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

.C_name {
    position: absolute;
    left:50%;
    top:2%; 
    width: 7.5rem;
	height: 5rem;
    background-color: transparent;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

/* frame above agents for instructions etc. */
.instr_frame {
    position:absolute;
    left:21%;
    top:-9%; 
    width: 7.5rem;
	height: 5rem;
    font: 30px Arial, sans-serif;
    font-weight: bold;
    border-style: none!important;
	box-shadow: 0px 0px 0px #888;

}

